# Part 1 - Data Preprocessing

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Load data

In [3]:
dataset = pd.read_csv('DJI.csv', header=0)
dataset = dataset.dropna()
dataset

,Date,Open,High,Low,Close,Adj Close
0,2004/1/2,10452.74023,10527.03027,10384.29981,10409.84961,10409.84961
1,2004/1/5,10411.84961,10544.07031,10411.84961,10544.07031,10544.07031
2,2004/1/6,10543.84961,10549.17969,10499.84961,10538.66016,10538.66016
3,2004/1/7,10535.45996,10539.45996,10466.29004,10529.03027,10529.03027
4,2004/1/8,10530.07031,10592.58984,10530.07031,10592.44043,10592.44043
5,2004/1/9,10589.25000,10589.25000,10448.66992,10458.88965,10458.88965
6,2004/1/12,10461.54981,10491.62988,10444.15039,10485.17969,10485.17969
7,2004/1/13,10485.17969,10509.84961,10367.41016,10427.17969,10427.17969
8,2004/1/14,10428.66992,10548.50977,10428.66992,10538.37012,10538.37012
9,2004/1/15,10534.51953,10592.74023,10477.17969,10553.84961,10553.84961
10,2004/1/16,10556.37012,10600.74023,10542.51953,10600.50977,10600.50977
11,2004/1/20,10601.40039,10616.95996,10519.49023,10528.66016,10528.66016
12,2004/1/21,10522.76953,10643.54981,10490.95996,10623.62012,10623.62012
13,2004/1/22,10624.21973,10660.87988,10607.40039,10623.17969,10623.17969
14,2004/1/23,10625.25000,10643.48047,10523.84961,10568.29004,10568.29004
15,2004/1/26,10568.00000,10705.17969,10561.84961,10702.50977,10702.50977
16,2004/1/27,10701.09961,10701.76953,10609.91992,10609.91992,10609.91992
17,2004/1/28,10610.07031,10658.42969,10437.78027,10468.37012,10468.37012
18,2004/1/29,10467.41016,10522.58984,10417.84961,10510.29004,10510.29004
19,2004/1/30,10510.21973,10510.80957,10438.95996,10488.07031,10488.07031
20,2004/2/2,10487.78027,10568.95996,10434.66992,10499.17969,10499.17969
21,2004/2/3,10499.48047,10528.95996,10457.11035,10505.17969,10505.17969
22,2004/2/4,10503.11035,10524.21973,10447.17969,10470.74023,10470.74023
23,2004/2/5,10469.33008,10522.51953,10453.54981,10495.54981,10495.54981
24,2004/2/6,10494.88965,10593.40039,10464.51953,10593.03027,10593.03027
25,2004/2/9,10592.00000,10618.50977,10564.44043,10579.03027,10579.03027
26,2004/2/10,10578.74023,10626.66016,10559.25977,10613.84961,10613.84961
27,2004/2/11,10605.48047,10746.87988,10572.58984,10737.70020,10737.70020
28,2004/2/12,10735.17969,10735.29004,10688.36035,10694.07031,10694.07031
29,2004/2/13,10696.21973,10734.69043,10604.13965,10627.84961,10627.84961
...,...,...,...,...,...,...
3775,2019/1/2,23058.60938,23413.47070,22928.58984,23346.24023,23346.24023
3776,2019/1/3,23176.39063,23176.39063,22638.41016,22686.22070,22686.22070
3777,2019/1/4,22894.91992,23518.64063,22894.91992,23433.16016,23433.16016
3778,2019/1/7,23474.25977,23687.74023,23301.58984,23531.34961,23531.34961
3779,2019/1/8,23680.32031,23864.65039,23581.44922,23787.44922,23787.44922
3780,2019/1/9,23844.26953,23985.44922,23776.56055,23879.11914,23879.11914
3781,2019/1/10,23811.10938,24014.77930,23703.25000,24001.91992,24001.91992
3782,2019/1/11,23940.00977,23996.32031,23798.16016,23995.94922,23995.94922
3783,2019/1/14,23880.52930,23964.90039,23765.24023,23909.83984,23909.83984
3784,2019/1/15,23914.10938,24099.14063,23887.92969,24065.58984,24065.58984
3785,2019/1/16,24139.91016,24288.60938,24119.72070,24207.16016,24207.16016
3786,2019/1/17,24147.08984,24474.46094,24088.90039,24370.09961,24370.09961
3787,2019/1/18,24534.18945,24750.22070,24459.02930,24706.34961,24706.34961
3788,2019/1/22,24607.75977,24607.75977,24244.31055,24404.48047,24404.48047
3789,2019/1/23,24577.25000,24700.98047,24307.16992,24575.61914,24575.61914
3790,2019/1/24,24579.96094,24626.30078,24422.73047,24553.24023,24553.24023
3791,2019/1/25,24687.21094,24860.15039,24676.75000,24737.19922,24737.19922
3792,2019/1/28,24596.98047,24596.98047,24323.93945,24528.22070,24528.22070
3793,2019/1/29,24519.61914,24674.86914,24504.03906,24579.96094,24579.96094
3794,2019/1/30,24826.51953,25109.61914,24790.90039,25014.85938,25014.85938
3795,2019/1/31,24954.48047,25049.61914,24842.08984,24999.66992,24999.66992
3796,2019/2/1,25025.31055,25193.15039,24982.49023,25063.89063,25063.89063
3797,2019/2/4,25062.11914,25239.91016,24977.66992,25239.36914,25239.36914
3798,2019/2/5,25287.92969,25427.32031,25287.65039,25411.51953,25411.51953
3799,2019/2/6,25371.57031,25439.03906,25312.06055,25390.30078,25390.30078
3800,2019/2/7,25265.81055,25314.25977,25000.51953,25169.52930,25169.52930
3801,2019/2/8,25042.35938,25106.39063,24883.03906,25106.33008,25106.33008
3802,2019/2/11,25142.81055,25196.75000,25009.09961,25053.10938,25053.10938
3803,2019/2/12,25152.02930,25458.98047,25152.02930,25425.75977,25425.75977
3804,2019/2/13,25480.85938,25625.94922,25480.85938,25543.26953,25543.26953

Technical indicator (KD)

In [4]:
# RSV
RSV = 100* ((dataset['Adj Close'] - dataset['Low'].rolling(window=9).min() ) /
            (dataset['High'].rolling(window=9).max()-dataset['Low'].rolling(window=9).min()))
RSV.fillna(method='bfill', inplace=True)
dataset['rsv']=round(RSV,3)

# K-value
dataset['k'] = 0
# print(file.head())
for idx, row in dataset.iterrows(): 
    # idxæ˜¯åœ¨rowè£¡  rowåœ¨fileè£¡ ç”¨file.interrows() æ‹†æˆä¸€åˆ—ä¸€åˆ—
 iRSV = row['rsv']
 if idx == 0:
  K=(RSV[0]*1/3)+(50*2/3)     #å°‡ç¬¬ä¸€å¤©çš„kå€¼é è¨­ç‚º50
 else:
  bk = dataset.loc[idx - 1, 'k'] #å–å‰ä¸€å€‹kå€¼ #å–æŸä¸€æ¬„æˆ–æŸä¸€åˆ—
  K=(iRSV*1/3)+(bk*2/3)
 dataset.loc[idx, 'k'] = round(K,3)

# D-value
dataset['d'] = 0
K = dataset['k']
for idx, row in dataset.iterrows():
 iK = row['k']
 if idx == 0:
  D=(K[0]*1/3)+(50*2/3)
 else:
  bd = dataset.loc[idx - 1, 'd']
  D=(iK*1/3)+(bd*2/3)
 dataset.loc[idx, 'd'] = round(D,3)

# Golden cross or Death cross
dataset['gx'] = np.where(dataset['k'] > dataset['d'], 1, 0)
dataset

,Date,Open,High,Low,Close,Adj Close,rsv,k,d,gx
0,2004/1/2,10452.74023,10527.03027,10384.29981,10409.84961,10409.84961,75.922,58.641,52.880,1
1,2004/1/5,10411.84961,10544.07031,10411.84961,10544.07031,10544.07031,75.922,64.401,56.720,1
2,2004/1/6,10543.84961,10549.17969,10499.84961,10538.66016,10538.66016,75.922,68.241,60.560,1
3,2004/1/7,10535.45996,10539.45996,10466.29004,10529.03027,10529.03027,75.922,70.801,63.974,1
4,2004/1/8,10530.07031,10592.58984,10530.07031,10592.44043,10592.44043,75.922,72.508,66.819,1
5,2004/1/9,10589.25000,10589.25000,10448.66992,10458.88965,10458.88965,75.922,73.646,69.095,1
6,2004/1/12,10461.54981,10491.62988,10444.15039,10485.17969,10485.17969,75.922,74.405,70.865,1
7,2004/1/13,10485.17969,10509.84961,10367.41016,10427.17969,10427.17969,75.922,74.911,72.214,1
8,2004/1/14,10428.66992,10548.50977,10428.66992,10538.37012,10538.37012,75.922,75.248,73.225,1
9,2004/1/15,10534.51953,10592.74023,10477.17969,10553.84961,10553.84961,82.741,77.746,74.732,1
10,2004/1/16,10556.37012,10600.74023,10542.51953,10600.50977,10600.50977,99.901,85.131,78.198,1
11,2004/1/20,10601.40039,10616.95996,10519.49023,10528.66016,10528.66016,64.616,78.293,78.230,1
12,2004/1/21,10522.76953,10643.54981,10490.95996,10623.62012,10623.62012,92.783,83.123,79.861,1
13,2004/1/22,10624.21973,10660.87988,10607.40039,10623.17969,10623.17969,87.154,84.467,81.396,1
14,2004/1/23,10625.25000,10643.48047,10523.84961,10568.29004,10568.29004,68.450,79.128,80.640,0
15,2004/1/26,10568.00000,10705.17969,10561.84961,10702.50977,10702.50977,99.210,85.822,82.367,1
16,2004/1/27,10701.09961,10701.76953,10609.91992,10609.91992,10609.91992,65.549,79.064,81.266,0
17,2004/1/28,10610.07031,10658.42969,10437.78027,10468.37012,10468.37012,11.440,56.523,73.018,0
18,2004/1/29,10467.41016,10522.58984,10417.84961,10510.29004,10510.29004,32.172,48.406,64.814,0
19,2004/1/30,10510.21973,10510.80957,10438.95996,10488.07031,10488.07031,24.439,40.417,56.682,0
20,2004/2/2,10487.78027,10568.95996,10434.66992,10499.17969,10499.17969,28.305,36.380,49.915,0
21,2004/2/3,10499.48047,10528.95996,10457.11035,10505.17969,10505.17969,30.394,34.385,44.738,0
22,2004/2/4,10503.11035,10524.21973,10447.17969,10470.74023,10470.74023,18.408,29.059,39.512,0
23,2004/2/5,10469.33008,10522.51953,10453.54981,10495.54981,10495.54981,27.042,28.387,35.804,0
24,2004/2/6,10494.88965,10593.40039,10464.51953,10593.03027,10593.03027,61.701,39.492,37.033,1
25,2004/2/9,10592.00000,10618.50977,10564.44043,10579.03027,10579.03027,66.997,48.660,40.909,1
26,2004/2/10,10578.74023,10626.66016,10559.25977,10613.84961,10613.84961,93.865,63.728,48.515,1
27,2004/2/11,10605.48047,10746.87988,10572.58984,10737.70020,10737.70020,97.060,74.839,57.290,1
28,2004/2/12,10735.17969,10735.29004,10688.36035,10694.07031,10694.07031,83.085,77.588,64.056,1
29,2004/2/13,10696.21973,10734.69043,10604.13965,10627.84961,10627.84961,60.284,71.820,66.644,1
...,...,...,...,...,...,...,...,...,...,...
3775,2019/1/2,23058.60938,23413.47070,22928.58984,23346.24023,23346.24023,69.673,55.464,40.429,1
3776,2019/1/3,23176.39063,23176.39063,22638.41016,22686.22070,22686.22070,57.244,56.057,45.638,1
3777,2019/1/4,22894.91992,23518.64063,22894.91992,23433.16016,23433.16016,95.267,69.127,53.468,1
3778,2019/1/7,23474.25977,23687.74023,23301.58984,23531.34961,23531.34961,92.082,76.779,61.238,1
3779,2019/1/8,23680.32031,23864.65039,23581.44922,23787.44922,23787.44922,96.413,83.324,68.600,1
3780,2019/1/9,23844.26953,23985.44922,23776.56055,23879.11914,23879.11914,93.811,86.820,74.673,1
3781,2019/1/10,23811.10938,24014.77930,23703.25000,24001.91992,24001.91992,99.066,90.902,80.083,1
3782,2019/1/11,23940.00977,23996.32031,23798.16016,23995.94922,23995.94922,98.632,93.479,84.548,1
3783,2019/1/14,23880.52930,23964.90039,23765.24023,23909.83984,23909.83984,92.376,93.111,87.402,1
3784,2019/1/15,23914.10938,24099.14063,23887.92969,24065.58984,24065.58984,97.703,94.642,89.815,1
3785,2019/1/16,24139.91016,24288.60938,24119.72070,24207.16016,24207.16016,94.156,94.480,91.370,1
3786,2019/1/17,24147.08984,24474.46094,24088.90039,24370.09961,24370.09961,91.102,93.354,92.031,1
3787,2019/1/18,24534.18945,24750.22070,24459.02930,24706.34961,24706.34961,96.246,94.318,92.793,1
3788,2019/1/22,24607.75977,24607.75977,24244.31055,24404.48047,24404.48047,66.977,85.204,90.263,0
3789,2019/1/23,24577.25000,24700.98047,24307.16992,24575.61914,24575.61914,83.323,84.577,88.368,0
3790,2019/1/24,24579.96094,24626.30078,24422.73047,24553.24023,24553.24023,80.002,83.052,86.596,0
3791,2019/1/25,24687.21094,24860.15039,24676.75000,24737.19922,24737.19922,88.771,84.958,86.050,0
3792,2019/1/28,24596.98047,24596.98047,24323.93945,24528.22070,24528.22070,65.859,78.592,83.564,0
3793,2019/1/29,24519.61914,24674.86914,24504.03906,24579.96094,24579.96094,63.671,73.618,80.249,0
3794,2019/1/30,24826.51953,25109.61914,24790.90039,25014.85938,25014.85938,90.716,79.317,79.938,0
3795,2019/1/31,24954.48047,25049.61914,24842.08984,24999.66992,24999.66992,87.294,81.976,80.617,1
3796,2019/2/1,25025.31055,25193.15039,24982.49023,25063.89063,25063.89063,86.377,83.443,81.559,1
3797,2019/2/4,25062.11914,25239.91016,24977.66992,25239.36914,25239.36914,99.942,88.943,84.020,1
3798,2019/2/5,25287.92969,25427.32031,25287.65039,25411.51953,25411.51953,98.568,92.151,86.730,1
3799,2019/2/6,25371.57031,25439.03906,25312.06055,25390.30078,25390.30078,95.629,93.310,88.923,1
3800,2019/2/7,25265.81055,25314.25977,25000.51953,25169.52930,25169.52930,75.831,87.484,88.443,0
3801,2019/2/8,25042.35938,25106.39063,24883.03906,25106.33008,25106.33008,64.416,79.795,85.560,0
3802,2019/2/11,25142.81055,25196.75000,25009.09961,25053.10938,25053.10938,40.456,66.682,79.267,0
3803,2019/2/12,25152.02930,25458.98047,25152.02930,25425.75977,25425.75977,94.615,75.993,78.176,0
3804,2019/2/13,25480.85938,25625.94922,25480.85938,25543.26953,25543.26953,88.871,80.286,78.879,1

In [5]:
X_train = dataset.iloc[:3776, 5:-1].values
y_train = dataset.iloc[:3776, -1].values
X_train, y_train = np.array(X_train),  np.array(y_train)

Split dataset into training and test set

In [414]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

Feature scaling

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
#X_test = sc.transform(X_test)

In [7]:
pd.DataFrame(y_train)

      0
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    0
15    1
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    1
25    1
26    1
27    1
28    1
29    1
...  ..
3746  0
3747  0
3748  0
3749  0
3750  0
3751  0
3752  1
3753  1
3754  1
3755  1
3756  1
3757  1
3758  0
3759  0
3760  0
3761  0
3762  0
3763  0
3764  0
3765  0
3766  0
3767  0
3768  0
3769  0
3770  0
3771  1
3772  1
3773  1
3774  1
3775  1

[3776 rows x 1 columns]

Creating a data structure with timesteps and one output

In [417]:
#X_train = []
# 60 previous stock prices
#y_train = []
#for i in range(60, 4810):
#    X_train.append(dataset_train_scaled[i-60:i, 0]) 
    # get the 60 previous stock prices
#    y_train.append(dataset_train_scaled[i, 0])
#X_train, y_train = np.array(X_train),  np.array(y_train)

Reshaping - 3 dimensions

In [418]:
X_train = np.reshape(X_train, (X_train.shape[0], 
                               X_train.shape[1], 
                               1))

#X_test = np.reshape(X_test,   (X_test.shape[0], 
#                               X_test.shape[1], 
#                               1))

# Part 2 - Building the RNN

In [419]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

Initializing the RNN

In [420]:
regressor = Sequential()

Adding the first LSTM layer and also some Dropout regularisation

In [421]:
regressor.add(LSTM(units = 50, 
                   return_sequences = True, 
                   input_shape = (X_train.shape[1], 1)))
regressor.add(Dropout(0.2))

Adding the second LSTM layer and also some Dropout regularisation

In [422]:
regressor.add(LSTM(units = 50, 
                   return_sequences = True))
regressor.add(Dropout(0.2))

Adding the third LSTM layer and also some Dropout regularisation

In [423]:
regressor.add(LSTM(units = 50, 
                   return_sequences = True))
regressor.add(Dropout(0.2))

Adding the fourth LSTM layer and also some Dropout regularisation

In [424]:
regressor.add(LSTM(units = 50))
regressor.add(Dropout(0.2))

Adding the output layer

In [425]:
regressor.add(Dense(units = 1))

Compiling the RNN

In [426]:
regressor.compile(optimizer = 'adam',
                  loss = 'mean_squared_error')

Fitting the RNN to the training set

In [427]:
regressor.fit(X_train, y_train, epochs = 100, batch_size = 32, verbose =1)

Epoch 1/100
3776/3776 [==============================] - 14s 4ms/step - loss: 0.2436
Epoch 2/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.1839
Epoch 3/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.1769
Epoch 4/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.1653
Epoch 5/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.1603
Epoch 6/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.1560
Epoch 7/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.1454
Epoch 8/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.1288
Epoch 9/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.1187
Epoch 10/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.1118
Epoch 11/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.1043
Epoch 12/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0951
Epoch 13/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0941
Epoch 14/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0870
Epoch 15/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0841
Epoch 16/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0784
Epoch 17/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0705
Epoch 18/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0619
Epoch 19/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0588
Epoch 20/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0501
Epoch 21/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0466
Epoch 22/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0410
Epoch 23/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0402
Epoch 24/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0377
Epoch 25/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0375
Epoch 26/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0334
Epoch 27/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0297
Epoch 28/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0304
Epoch 29/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0272
Epoch 30/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0258
Epoch 31/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0271
Epoch 32/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0243
Epoch 33/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0277
Epoch 34/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0262
Epoch 35/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0216
Epoch 36/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0284
Epoch 37/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0212
Epoch 38/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0214
Epoch 39/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0237
Epoch 40/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0234
Epoch 41/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0222
Epoch 42/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0221
Epoch 43/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0232
Epoch 44/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0213
Epoch 45/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0180
Epoch 46/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0181
Epoch 47/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0173
Epoch 48/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0176
Epoch 49/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0179
Epoch 50/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0167
Epoch 51/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0174
Epoch 52/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0188
Epoch 53/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0224
Epoch 54/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0187
Epoch 55/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0189
Epoch 56/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0195
Epoch 57/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0180
Epoch 58/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0167
Epoch 59/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0194
Epoch 60/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0200
Epoch 61/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0177
Epoch 62/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0163
Epoch 63/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0196
Epoch 64/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0165
Epoch 65/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0183
Epoch 66/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0182
Epoch 67/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0162
Epoch 68/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0128
Epoch 69/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0179
Epoch 70/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0148
Epoch 71/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0158
Epoch 72/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0155
Epoch 73/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0138
Epoch 74/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0156
Epoch 75/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0162
Epoch 76/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0176
Epoch 77/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0177
Epoch 78/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0171
Epoch 79/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0156
Epoch 80/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0149
Epoch 81/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0132
Epoch 82/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0132
Epoch 83/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0151
Epoch 84/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0152
Epoch 85/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0132
Epoch 86/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0160
Epoch 87/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0187
Epoch 88/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0187
Epoch 89/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0142
Epoch 90/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0181
Epoch 91/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0170
Epoch 92/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0154
Epoch 93/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0139
Epoch 94/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0141
Epoch 95/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0135
Epoch 96/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0180
Epoch 97/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0142
Epoch 98/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0177
Epoch 99/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0148
Epoch 100/100
3776/3776 [==============================] - 5s 1ms/step - loss: 0.0175

Evaluate the regressor

In [ ]:
#X_test = np.reshape(X_test,   (X_test.shape[0], 
#                               X_test.shape[1],
#                               1))

In [436]:
#loss, accuracy = regressor.evaluate(X_test, y_test, verbose=0)

# Part 3 - Making the predictions

In [430]:
X_test = dataset.iloc[3776:, 5:-1].values
y_test = dataset.iloc[3776:, -1].values

X_test = np.reshape(X_test,   (X_test.shape[0], 
                               X_test.shape[1],
                               1))

In [433]:
y_pred = regressor.predict(X_test)
pd.DataFrame(y_pred)

           0
0  -0.000891
1  -0.001046
2  -0.001146
3  -0.001252
4  -0.001362
5  -0.001420
6  -0.001417
7  -0.001412
8  -0.001413
9  -0.001410
10 -0.001408
11 -0.001410
12 -0.001394
13 -0.001405
14 -0.001404
15 -0.001410
16 -0.001395
17 -0.001387
18 -0.001413
19 -0.001412
20 -0.001411
21 -0.001417
22 -0.001415
23 -0.001412
24 -0.001401
25 -0.001393
26 -0.001339
27 -0.001415
28 -0.001413

In [434]:
y_pred = (y_pred > 1)
pd.DataFrame(y_pred)

        0
0   False
1   False
2   False
3   False
4   False
5   False
6   False
7   False
8   False
9   False
10  False
11  False
12  False
13  False
14  False
15  False
16  False
17  False
18  False
19  False
20  False
21  False
22  False
23  False
24  False
25  False
26  False
27  False
28  False